extends layout 

block head
    title="ClassRoom"
    link(rel="stylesheet", href="../style/index.css")
    link(rel="stylesheet", href="../style/classHome.css")
    
block content
    .container.topClassBox(class="rellax" data-rellax-speed="10")
        button.btn.btn-primary.col(id="create") Create  Class
        button.btn.btn-primary.col(id="join") Join Class 
        
    br


    form.create(action='/classroom/createClass', method='post' class="rellax" data-rellax-speed="10")
        .form-group
            label Name of Class:
            input.form-control(type='text', name='name', placeholder='enter class name')
        .form-group
            label batch :
            input.form-control(type='text', name='batch', placeholder='enter batch ')
            span.text-muted eg.nitt'23 
        .form-group
            label Semester:
            input.form-control(type='number' name='semester' placeholder='enter name of semester' )
           
        .form-group
        input.btn.btn-primary(type='submit', width="100%" value='create Class')
        hr
   
    form.join(action='/classroom/joinClass', method='post' class="rellax" data-rellax-speed="10")
        .form-group
            label Class code :
            input.form-control(type='text', name='code', placeholder='enter class code to join')
        .form-group
            input.btn.btn-primary(type='submit', width="100%" value='Join Class')
        hr  
    -classrooms.reverse()
    br
    p(class="rellax" data-rellax-speed="10") Filter :
        button.btn.btn-primary.col(id='clearFilter') Clear Filter  
        button.btn.btn-primary.col(id='showCreateRooms') Created Rooms
        button.btn.btn-primary.col(id='showJoinedRooms')  Joined Rooms
    br
    
    if classrooms 
        .createdRooms(class="rellax" data-rellax-speed="7")
            h3 Class Rooms that You have Created
            -for(var i=0;i<classrooms.length;i++){
                if(JSON.stringify(user._id)===JSON.stringify(classrooms[i].cr))
                    .card.subjectCard
                        h4.card-title #{classrooms[i].name}
                        hr
                        p.card-body
                            | Semester :#{classrooms[i].semester}  Batch: #{classrooms[i].batch} 
                        
                        if(JSON.stringify(user._id)===JSON.stringify(classrooms[i].cr))
                            p Class Code: #{classrooms[i].code}
                            p Join via link 
                                a(href=`${ classrooms[i].link }`) 127.0.0.1:3000#{classrooms[i].link}
                    br
            -}
    if(user.userClass)
        -user.userClass.reverse()
        .joinRooms(class="rellax" data-rellax-speed="4")
            h3 Class Rooms you have joined in 
            -for(var i=0;i<(user.userClass.length);i++){
                    -for(var j=0;j<classrooms.length;j++){
                        if(JSON.stringify(user.userClass[i])===JSON.stringify(classrooms[j]._id))
                            .card.subjectCard
                                h4.card-title #{classrooms[j].name}
                                hr
                                p.card-body
                                    | Semester :#{classrooms[j].semester}  Batch: #{classrooms[j].batch} 
                                a.btn.btn-success(href=`/classroom/${classrooms[j]._id}`) Enter Class
                            br
                            
                        
                -}
            -}
        
        
    script(src="../scripts/classHome.js")

            