extends layout
block head 
    title Direct
    link(rel="stylesheet", href="../style/index.css")
block content
    h1 Direct
    hr
    
    if(!private)
        p #{users[0]}
        -for(var i=0;i<users.length;i++){
            -if(JSON.stringify(user._id)!== JSON.stringify(users[i]._id))
                a(href=`/direct/${users[i]._id}`) #{users[i].name}
                br
        -}
    
    if(private)
        p #{otherUser}
        .card
            input#room(type="text" value=`${otherUser._id}:${user._id}`)

    #Chat.container
    form.card()
            input#msgBox.form-control(name='', rows='')
            button#sendBtn.btn.btn-success Send
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet", href="../style/direct.css")
    script(src="../scripts/direct.js")
