extends layout
block head 
    link(rel="stylesheet", href="../style/index.css")
    title College Manager  
         
    
block content
    .container
        br
        .postCard(class="rellax" data-rellax-speed="5")
            a(href='/post')
                input(type='text', name='', placeholder=`What is on your mind, ${user.name}? ` )
        hr
        -posts.reverse()
        br
       
        -for(var i=0;i<posts.length;i++){
            .postContainer(class="rellax" data-rellax-speed="5")
                .top
                    a(href=`/profile/${posts[i].user_id}`) #{posts[i].name} 
                    br
                    span.text-muted  #{posts[i].date}
                .body
                    p #{posts[i].status}
                    img(src=`/image/${posts[i].image}`, alt='')
                .bottom.row
                    -let show=0
                    -if(posts[i].likes.length){
                        -let t=0
                        -for(let j=0;j<posts[i].likes.length;j++){
                            -if(JSON.stringify(posts[i].likes[j])===JSON.stringify(user._id)){
                                    button.unlike.btn.col( id=`${posts[i]._id}`)  
                                        .btn.col(class=`${posts[i]._id}`)
                                            | #{posts[i].likes.length}  &nbsp;
                                            i.fa.fa-thumbs-down(aria-hidden='true')
                                   
                                    
                            -}
                            -else{
                                -t+=1
                            -}
                            -if(t===posts[i].likes.length){
                                    button.like.btn.col( id=`${posts[i]._id}`)  
                                        .btn.col(class=`${posts[i]._id}`)
                                            | #{posts[i].likes.length}  &nbsp;
                                            i.fa.fa-thumbs-up(aria-hidden='true')
                            -}
                        -}
                    -}
                    -if(!posts[i].likes.length){
                            button.like.btn.col( id=`${posts[i]._id}`)  
                                .btn.col(class=`${posts[i]._id}`)
                                    | #{posts[i].likes.length}  &nbsp;
                                    i.fa.fa-thumbs-up(aria-hidden='true')
                    -}
            br

        -}
    hr
    script(src="../scripts/index.js")