extends layout 

block head  
    title #{profile.name}
    link(rel="stylesheet", href="../style/index.css")
    link(rel="stylesheet", href="../style/profile.css")
    
block content
    hr
    h1.text-center #{profile.name}  
    table.table
        thead
            tr
            th(scope='col')
                | followers
            th(scope='col')
                | following
        tbody
            tr
            th#followers #{profile.followers.length}
            th#following  #{profile.following.length}
            

    p
        if(JSON.stringify(user._id)!=JSON.stringify(profile._id))
            if(follow)
                .btn.btn-danger.unfollow(id=`${profile._id}`) unfollow
            if(!follow)
                .btn.btn-success.follow(id=`${profile._id}`) Follow
        
            a.btn.btn-success(href=`/direct/${profile._id}`) Direct 

        
    if(attendance)
        .postContainer(class="rellax" data-rellax-speed="7")
            form(action='/attendance/addSubject', method='POST')
                .form-group
                    label(for='') Add Subject
                    input.form-control(type='text', name='name', id='', placeholder='')
                    input.btn.btn-success(type='submit',id='addSubject' value='Add')
            hr
        br

    if(attendance)
        .attendanceBox(class="rellax" data-rellax-speed="5")
            -for(var k=0;k<attendance.length;k++){
                .card(class=`${attendance[k]._id}`)
                    h4.card-title #{attendance[k].name}
                        span
                            button.delBox.btn.btn-danger(id=`${attendance[k]._id}`) X
                    -if(JSON.parse(attendance[k].percentage)>=0.75){
                        h2.alert.alert-success Status: Peace Podu ✌🏻
                    -}
                    -if(JSON.parse(attendance[k].percentage)<0.75){
                        h2.alert.alert-danger  Status: No Peace 🏃🏻‍♂️
                    -}
                   
                    .card-body
                        p Total Classes  : #{attendance[k].total}
                        p Present : #{attendance[k].present}
                        p Absent :#{attendance[k].absent}
                    .card-footer
                        button.btn.btn-success.present(id=`${attendance[k]._id}`)  ✔
                        button.btn.btn-danger.absent(id=`${attendance[k]._id}`) ❌

            -}
            
    
    hr
    script(src="../scripts/profile.js")